.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8b2c0;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-text {
  text-align: center;
  margin-top: 15px;
}

.register-text span {
  color: #80aec6;
  cursor: pointer;
  font-weight: bold;
}
