/* REUSE SAME STYLES */
@import "../Signup/Signup.css";


/* ===== MOBILE & MINI MOBILE ===== */
@media (max-width: 480px) {
  .auth-container {
    width: 100%;
    padding: 20px;
  }

  .auth-card {
    width: 100%;
    padding: 20px;
    border-radius: 16px;
  }

  .auth-card h2 {
    font-size: 20px;
  }

  .auth-card p {
    font-size: 13px;
  }

  .auth-card input {
    font-size: 14px;
    padding: 10px;
  }

  .auth-card button {
    padding: 10px;
    font-size: 14px;
  }
}

/* ===== TABLET ===== */
@media (max-width: 768px) {
  .auth-container {
    padding: 40px;
  }

  .auth-card {
    width: 420px;
  }
}

/* ===== LAPTOP & DESKTOP ===== */
@media (min-width: 1024px) {
  .auth-card {
    width: 460px;
  }
}
