.floating-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #80aec6;
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}
