.textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.textfield label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

.textfield input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #80aec6;
  outline: none;
}
