.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-main);
}

.input-group input {
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  font-size: 15px;
}

.input-group input:focus {
  outline: none;
  border-color: var(--primary);
}
