.expense-card {
  background: #cbdf9a;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  gap: 15px;
  transition: transform 0.3s;
}

.expense-card:hover {
  transform: scale(1.05);
}

.expense-card img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}
